@import 'variables';
@import 'mixins';

body{

    background-color: $bacground !important;
    font-size: 14px !important;
    }

    .logo
    {
      height: 64px;
      width: 64px;      
      box-shadow:0px 0px 20px #459BBCBF;
      opacity: 1;
    }
    #leftnav {
      width: 40px;
      height: 40px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: $shadow;
      opacity: 1;
      border-radius: 50%;
    }
    
// Boostrap overright
  .dropdown-toggle::after {
      display: none;
  }
  .dropdown-menu
  {
    border-radius: $radious !important;
    box-shadow: $shadow;
  }

 // Font colors
 .font-default 
 {
    color: $color-default !important;
  }
  //Side Nav bar
 
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  box-shadow: $shadow;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 15px 32px;
  text-decoration: none;
  font-size:$font-regular;
  color: $color-default;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size:22px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size:$font-regular;}
}
//Side bar menu
#mySidenav
{
  border-radius: 0 10px 10px 0;
}
.sidebar .nav-link[data-toggle].collapsed:after {
  content: " ▾";
}
.sidebar .nav-link[data-toggle]:not(.collapsed):after {
  content: " ▴";
}
 // Font sizes

 .Font-Ex-Small
 {
     font-size:  $font-Ex-small !important;     
 }
 .Font-small
 {
     font-size:  $font-small !important;
 }
 .font-regular
 {
   font-size:$font-regular;
 }
 .Font-medium
 {
     font-size:$font-medium !important;     
 }
 .Font-large
 {
     font-size:  $font-large!important;    
 }
 

// Content Wrapper
.Content-wrapper
{
@include Content-wrapper;
width: 100%;
box-sizing: border-box;
}

//Input Controllers

.input-type
{
  @include  Input-type ;
}

.btn-main
{
  @include Button_styles ;
  background: $btn-primary !important;
  color: white !important;
}
.btn-reset
{
  @include Button_styles ;
  background:$btn-reset !important;
  color: $color-default !important;
}
.btn-continue
{
  @include Button_styles ;
  background:$btn-next !important;
  color: $color-default !important;
}

.student-notification
{
  white-space: nowrap; 
  max-width: 340px; 
  overflow:hidden;
  text-overflow:ellipsis;
}

// tabl controller
#tabs{
	background: #007b5e;
    color: #eee;
}
#tabs h6.section-title{
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #f3f3f3;
    background-color: transparent !important;
    border-color: transparent transparent #f3f3f3 !important;
    border-bottom: 4px solid !important;
    // font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent !important;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #eee;
    // font-size: 20px;
}