@charset "UTF-8";
body {
  background-color: #F4F7F2 !important;
  font-size: 14px !important;
}

.logo {
  height: 64px;
  width: 64px;
  -webkit-box-shadow: 0px 0px 20px #459BBCBF;
          box-shadow: 0px 0px 20px #459BBCBF;
  opacity: 1;
}

#leftnav {
  width: 40px;
  height: 40px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 0px 20px #93C2D426;
          box-shadow: 0px 0px 20px #93C2D426;
  opacity: 1;
  border-radius: 50%;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  border-radius: 16px !important;
  -webkit-box-shadow: 0px 0px 20px #93C2D426;
          box-shadow: 0px 0px 20px #93C2D426;
}

.font-default {
  color: #000000 !important;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  -webkit-box-shadow: 0px 0px 20px #93C2D426;
          box-shadow: 0px 0px 20px #93C2D426;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 15px 32px;
  text-decoration: none;
  font-size: 14px;
  color: #000000;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 22px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 14px;
  }
}

#mySidenav {
  border-radius: 0 10px 10px 0;
}

.sidebar .nav-link[data-toggle].collapsed:after {
  content: " ▾";
}

.sidebar .nav-link[data-toggle]:not(.collapsed):after {
  content: " ▴";
}

.Font-Ex-Small {
  font-size: 10px !important;
}

.Font-small {
  font-size: 12px !important;
}

.font-regular {
  font-size: 14px;
}

.Font-medium {
  font-size: 16px !important;
}

.Font-large {
  font-size: 18px !important;
}

.Content-wrapper {
  padding: 12px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 16px;
  -webkit-box-shadow: 0px 0px 20px #93C2D426;
          box-shadow: 0px 0px 20px #93C2D426;
  padding-bottom: 0 !important;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.input-type {
  border: 1px solid #C9C9C9 !important;
  border-radius: 16px !important;
  opacity: 1 !important;
}

.btn-main {
  -webkit-box-shadow: 0px 0px 20px #93C2D426 !important;
          box-shadow: 0px 0px 20px #93C2D426 !important;
  border-radius: 16px !important;
  opacity: 1;
  min-width: 100px;
  background: #51539E 0% 0% no-repeat padding-box !important;
  color: white !important;
}

.btn-reset {
  -webkit-box-shadow: 0px 0px 20px #93C2D426 !important;
          box-shadow: 0px 0px 20px #93C2D426 !important;
  border-radius: 16px !important;
  opacity: 1;
  min-width: 100px;
  background: #FFFFFF 0% 0% no-repeat padding-box !important;
  color: #000000 !important;
}

.btn-continue {
  -webkit-box-shadow: 0px 0px 20px #93C2D426 !important;
          box-shadow: 0px 0px 20px #93C2D426 !important;
  border-radius: 16px !important;
  opacity: 1;
  min-width: 100px;
  background: #F5E97F 0% 0% no-repeat padding-box !important;
  color: #000000 !important;
}

.student-notification {
  white-space: nowrap;
  max-width: 340px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#tabs {
  background: #007b5e;
  color: #eee;
}

#tabs h6.section-title {
  color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #f3f3f3;
  background-color: transparent !important;
  border-color: transparent transparent #f3f3f3 !important;
  border-bottom: 4px solid !important;
  font-weight: bold;
}

#tabs .nav-tabs .nav-link {
  border: 1px solid transparent !important;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: #eee;
}
/*# sourceMappingURL=main.css.map */