
$bacground: #F4F7F2;
$radious:16px;
$shadow: 0px 0px 20px #93C2D426;
$content-bg:#FFFFFF 0% 0% no-repeat padding-box;

$color-default:#000000;
$border:1px solid #C9C9C9;

$btn-primary: #51539E 0% 0% no-repeat padding-box;
$btn-reset:#FFFFFF 0% 0% no-repeat padding-box;
$btn-next:#F5E97F 0% 0% no-repeat padding-box;


$clear-fix:25px;

$font-Ex-small:10px;
$font-small:12px;
$font-regular:14px;
$font-medium:16px;
$font-large:18px;

$content-padding:12px;

    